@font-face {
  font-family: "Pmj 1";
  src: url('../fonts/SdGeorgiaLight-pMj1.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vpnx;
  src: url('../fonts/SdGeorgiaLightDemoItalic-VPnx.ttf') format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Demo Atbscript Rg;
  src: url('../fonts/DEMO-atbscript-rg.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Demo Atbserif Rg;
  src: url('../fonts/DEMO-atbserif-rg.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Demo Atbserif It;
  src: url('../fonts/DEMO-atbserif-it.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.hero-without-image {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.heading {
  font-family: Demo Atbscript Rg, Arial, sans-serif;
  font-size: 38px;
}

.heading-2 {
  font-family: Demo Atbscript Rg, Arial, sans-serif;
}

.hero-without-image-2 {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two-2 {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px-2 {
  margin-bottom: 24px;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.section-hero {
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  overflow: hidden;
}

.section-inner2 {
  text-align: center;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  min-height: 100px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 32px;
  display: flex;
}

.section-dates {
  background-image: url('../images/Dates-and-Location-Background-Only.png');
  background-position: 50%;
  background-size: cover;
  min-height: 100vh;
}

.section-countdown {
  background-color: #f4e9de;
  min-height: 50vh;
}

.section-venue {
  background-color: #f4e9de;
}

.section-events {
  background-color: #f4e9de;
  min-height: 100vh;
}

.heading-3 {
  color: #fff;
  font-family: Demo Atbscript Rg, Arial, sans-serif;
  font-weight: 400;
}

.heading-4 {
  color: #fff;
  margin-top: 100px;
  font-family: Demo Atbserif Rg, Arial, sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 50px;
}

.heading-5 {
  color: #fff;
  letter-spacing: 5px;
  font-family: Demo Atbscript Rg, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.heading-6 {
  color: #fff;
  margin-top: 30px;
  font-family: Demo Atbserif Rg, Arial, sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 50px;
}

.countdown-wrap {
  flex: 0 auto;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.heading-7 {
  margin-top: 0;
  font-family: Demo Atbserif Rg, Arial, sans-serif;
  font-size: 24px;
}

.heading-8 {
  font-family: Demo Atbserif Rg, Arial, sans-serif;
}

.heading-9 {
  margin-top: 10px;
  font-family: Demo Atbscript Rg, Arial, sans-serif;
}

.paragraph {
  font-family: Demo Atbserif Rg, Arial, sans-serif;
}

.div-block {
  margin-top: 50px;
}

.countdown-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.countdown-box-days, .countdown-box-hours, .countdown-box-minutes, .countdown-box-seconds {
  border-radius: 16px;
  padding: 14px;
}

.heading-10 {
  color: #fff;
  margin-bottom: 0;
  font-family: Demo Atbserif Rg, Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.section-haldi, .section-mehndi, .section-santek, .section-wedding, .section-civil, .section-reception, .section-travel, .section-fooddrink, .section-faq, .section-contactus, .section-photos {
  background-color: #f4e9de;
}

.section-thankyou {
  background-color: #f4e9de;
  min-height: 100vh;
  padding-top: 0;
  display: block;
}

.heading-11 {
  color: #fff;
  margin-top: 60px;
  font-family: Demo Atbserif Rg, Arial, sans-serif;
  font-weight: 400;
}

.heading-12 {
  color: #fff;
  font-family: Demo Atbscript Rg, Arial, sans-serif;
}

.heading-13 {
  color: #000;
  margin-top: 200px;
  font-family: Demo Atbscript Rg, Arial, sans-serif;
  font-size: 40px;
}

.paragraph-2 {
  width: 700px;
  margin-top: 20px;
  font-family: Demo Atbserif Rg, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.heading-14 {
  font-family: Demo Atbscript Rg, Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.heading-15 {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Demo Atbscript Rg, Arial, sans-serif;
}

.section-outfitguide {
  background-color: #f4e9de;
}

.heading-16 {
  margin-top: 10px;
  font-family: Demo Atbserif Rg, Arial, sans-serif;
  font-size: 28px;
}

.heading-17 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Demo Atbscript Rg, Arial, sans-serif;
}

.paragraph-3 {
  width: 750px;
  font-family: "Pmj 1", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.split-wrap {
  flex-flow: row-reverse;
  justify-content: center;
  display: flex;
}

.split-text {
  width: 50%;
  padding: 0 30px 30px;
}

.heading-18 {
  text-align: center;
  font-family: Demo Atbscript Rg, Arial, sans-serif;
  line-height: 70px;
}

.bold-text {
  font-family: Demo Atbserif Rg, Arial, sans-serif;
  font-size: 20px;
  line-height: 10px;
}

.heading-19 {
  width: 150px;
  font-family: Demo Atbserif Rg, Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
  position: static;
}

.heading-20 {
  text-transform: uppercase;
  width: 300px;
  font-family: Demo Atbserif Rg, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.heading-21 {
  font-family: Demo Atbserif Rg, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.paragraph-4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Pmj 1", Arial, sans-serif;
  font-style: normal;
}

.heading-22 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Demo Atbserif Rg, Arial, sans-serif;
  font-size: 30px;
}

.paragraph-5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Demo Atbserif Rg, Arial, sans-serif;
}

.heading-23 {
  margin-top: 20px;
  margin-bottom: 0;
  font-family: Demo Atbscript Rg, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.image {
  margin-top: 0;
}

.heading-24 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Demo Atbserif Rg, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.paragraph-6 {
  margin-top: 20px;
  font-family: "Pmj 1", Arial, sans-serif;
}

.split-image {
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  display: flex;
}

.image-2 {
  object-fit: contain;
  width: 100%;
}

.split-maps {
  width: 50%;
}

.split-pictures {
  width: 100%;
}

.venue-columns {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-flow: row-reverse;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 40px;
  display: flex;
}

.venue-map {
  background-color: #e4e4e4;
  border-radius: 10px;
  width: 50%;
  min-height: 350px;
  overflow: hidden;
}

.venue-slideshow {
  aspect-ratio: 16 / 9;
  border-radius: 16px;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 50%;
  min-height: 350px;
  display: flex;
}

.image-3 {
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  min-height: 0;
}

.aviyana-logo {
  max-width: 25%;
  margin-bottom: 40px;
}

.paragraph-7 {
  max-width: 900px;
  margin-top: 10px;
  font-family: "Pmj 1", Arial, sans-serif;
  font-size: 15px;
}

.paragraph-8 {
  margin-top: 10px;
  font-family: "Pmj 1", Arial, sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.paragraph-9 {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: "Pmj 1", Arial, sans-serif;
  font-size: 15px;
}

.div-block-2 {
  width: 75%;
}

.heading-25 {
  margin-top: 10px;
  font-family: Demo Atbserif Rg, Arial, sans-serif;
}

.fooddrink-wrap {
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  flex-flow: row-reverse;
  justify-content: center;
  align-self: center;
  margin-top: 20px;
  display: flex;
}

.fooddrink-text {
  flex-flow: row-reverse;
  justify-content: center;
  align-items: center;
  width: 50%;
  display: flex;
}

.video-placeholder {
  background-color: #bebebe;
  border-radius: 20px;
  justify-content: center;
  width: 100%;
  max-width: 360px;
  min-height: 500px;
  display: block;
}

.fooddrink-media {
  justify-content: center;
  width: 50%;
  display: flex;
}

.portrait-video-placeholder {
  box-sizing: border-box;
  aspect-ratio: 9 / 16;
  background-color: #b9b9b9;
  width: 100%;
  max-width: 360px;
  min-height: auto;
  overflow: hidden;
}

.paragraph-10 {
  text-align: center;
  flex-flow: column-reverse;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  font-family: "Pmj 1", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  position: relative;
}

.div-block-3 {
  width: 25%;
}

.paragraph-11 {
  margin-top: 10px;
}

.bold-text-2, .bold-text-3, .bold-text-4, .bold-text-5 {
  text-transform: uppercase;
}

.paragraph-12 {
  margin-top: 0;
  font-family: Vpnx, Arial, sans-serif;
  font-size: 16px;
}

.paragraph-13 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Pmj 1", Arial, sans-serif;
  font-size: 15px;
}

.paragraph-14 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Pmj 1", Arial, sans-serif;
  font-size: 15px;
}

.paragraph-15 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Pmj 1", Arial, sans-serif;
}

.grid-2x2 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column-reverse;
  width: 100%;
  display: flex;
}

.grid-row {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: row-reverse;
  align-self: stretch;
  margin-top: 10px;
  display: flex;
}

.grid-cell {
  background-color: #e4dccf;
  border-radius: 14px;
  width: 50%;
  padding: 25px;
}

.bold-text-6, .bold-text-7 {
  text-transform: uppercase;
}

.paragraph-16 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Vpnx, Arial, sans-serif;
  font-size: 16px;
  display: block;
}

.accordion-header {
  cursor: pointer;
  border-bottom: 1px solid #000;
  justify-content: center;
  align-items: center;
  padding: 16px;
  display: flex;
}

.dropdown {
  font-family: "Pmj 1", Arial, sans-serif;
  font-size: 20px;
}

.heading-26 {
  text-align: center;
  margin-top: 40px;
  font-family: Demo Atbserif Rg, Arial, sans-serif;
}

.heading-27 {
  margin-top: 50px;
  margin-bottom: 0;
  font-family: Demo Atbserif Rg, Arial, sans-serif;
}

.split-25-75 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-flow: row-reverse;
  margin-top: 20px;
  display: flex;
}

.col-right {
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
  width: 80%;
  display: flex;
}

.col-left {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
  width: 20%;
  display: flex;
}

.paragraph-17 {
  font-family: Vpnx, Arial, sans-serif;
  line-height: 30px;
}

.paragraph-18 {
  font-family: Vpnx, Arial, sans-serif;
}

.bold-text-8 {
  font-size: 20px;
  line-height: 28px;
}

.bold-text-9 {
  font-size: 20px;
  line-height: 30px;
}

.paragraph-19 {
  text-align: left;
  font-family: "Pmj 1", Arial, sans-serif;
  font-size: 15px;
  line-height: 23px;
}

.paragraph-20 {
  margin-top: 20px;
  font-family: Vpnx, Arial, sans-serif;
  font-size: 16px;
}

.div-block-4 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.accordion-panel {
  opacity: .95;
  padding: 16px;
}

.paragraph-21 {
  margin-bottom: 0;
}

.heading-28 {
  font-family: Demo Atbscript Rg, Arial, sans-serif;
}

.image-5 {
  margin-bottom: 40px;
}

.heading-29 {
  font-family: Demo Atbscript Rg, Arial, sans-serif;
}

.heading-30 {
  margin-top: 10px;
  font-family: Demo Atbscript Rg, Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.paragraph-22 {
  margin-top: 10px;
  font-family: "Pmj 1", Arial, sans-serif;
  font-size: 15px;
}

.slideshow-wrap {
  background-color: #cec4c4;
  border-radius: 24px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.slideshow-viewport {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  display: flex;
}

.section-slideshow {
  background-color: #dfdfdf;
  border-radius: 24px;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.heading-31 {
  color: #fff;
  font-family: Demo Atbscript Rg, Arial, sans-serif;
}

.heading-32 {
  margin-top: 0;
  font-family: Demo Atbscript Rg, Arial, sans-serif;
}

.heading-33 {
  font-family: Demo Atbscript Rg, Arial, sans-serif;
}

.ak-wedding-logo {
  max-width: 50%;
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  .container, .container-2 {
    max-width: 728px;
  }

  .venue-columns {
    grid-column-gap: 35px;
    grid-row-gap: 35px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .paragraph-7 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .paragraph-9 {
    line-height: 15px;
  }

  .div-block-2 {
    text-align: left;
    width: 50%;
  }

  .heading-25 {
    text-align: left;
    font-family: Demo Atbserif Rg, Arial, sans-serif;
  }

  .fooddrink-wrap {
    grid-column-gap: 36px;
    grid-row-gap: 36px;
    flex-flow: row-reverse;
    justify-content: center;
    display: flex;
  }

  .fooddrink-text {
    text-align: left;
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .fooddrink-video {
    justify-content: center;
    width: 50%;
    height: 500px;
    display: flex;
  }

  .video-placeholder {
    background-color: #cacaca;
    border-radius: 15px;
    width: 100%;
    min-width: 380px;
    min-height: 500px;
  }
}

@media screen and (max-width: 767px) {
  .hero-without-image, .hero-without-image-2 {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  .container, .container-2 {
    max-width: none;
  }

  .section-hero {
    aspect-ratio: 9 / 16;
    min-height: 0;
  }

  .section-inner2 {
    text-align: center;
    max-width: 100%;
    min-height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 25px;
  }

  .section-inner2.section-inner2-no-padding {
    padding: 0;
  }

  .section-dates {
    aspect-ratio: 9 / 16;
    flex-flow: column-reverse;
    min-height: 0;
    display: flex;
  }

  .section-events {
    min-height: auto;
  }

  .heading-4 {
    letter-spacing: 0;
    margin: 10px auto 0;
    font-size: 25px;
    line-height: 35px;
    position: static;
  }

  .heading-5 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10px;
    line-height: 50px;
  }

  .heading-6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
    line-height: 35px;
  }

  .countdown-wrap {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    display: flex;
  }

  .heading-9 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .countdown-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .section-thankyou {
    text-align: center;
    min-height: auto;
  }

  .heading-11 {
    margin-top: 60px;
    font-size: 30px;
  }

  .heading-13 {
    margin-top: 180px;
  }

  .paragraph-2 {
    width: 250px;
    font-size: 15px;
    line-height: 22px;
  }

  .heading-14 {
    font-weight: 400;
    line-height: 55px;
    display: block;
    overflow: visible;
  }

  .paragraph-3 {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
  }

  .split-wrap {
    flex-flow: column-reverse;
  }

  .split-text {
    width: 100%;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .split-image {
    width: 100%;
    display: flex;
  }

  .venue-columns {
    flex-flow: column-reverse;
  }

  .venue-map {
    width: 100%;
    min-height: 300px;
  }

  .venue-slideshow {
    width: 100%;
    max-width: 100%;
    min-height: 0;
  }

  .image-3 {
    min-height: auto;
  }

  .aviyana-logo {
    max-width: 75%;
    margin-bottom: 20px;
  }

  .paragraph-7 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 22px;
  }

  .paragraph-8 {
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 26px;
  }

  .heading-25 {
    margin-top: 10px;
    font-size: 30px;
  }

  .fooddrink-wrap {
    flex-flow: column;
  }

  .fooddrink-text {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .fooddrink-media {
    width: 100%;
  }

  .portrait-video-placeholder {
    min-height: 500px;
  }

  .paragraph-10 {
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 20px;
  }

  .paragraph-13, .paragraph-14 {
    line-height: 23px;
  }

  .grid-2x2 {
    margin-top: 20px;
  }

  .grid-row {
    flex-flow: column-reverse;
  }

  .grid-cell {
    width: 100%;
  }

  .accordion-header {
    padding: 5px;
  }

  .heading-27 {
    margin-top: 0;
  }

  .split-25-75 {
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .col-right {
    width: 100%;
  }

  .col-left {
    width: 100%;
    margin-top: 10px;
  }

  .paragraph-17 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 12px;
  }

  .paragraph-18 {
    margin-bottom: 0;
  }

  .bold-text-8, .bold-text-9 {
    font-size: 18px;
  }

  .paragraph-19 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 21px;
  }

  .heading-28 {
    margin-top: 0;
  }

  .image-5 {
    margin-top: 20px;
  }

  .heading-30 {
    margin-top: 10px;
    font-size: 20px;
    line-height: 40px;
  }

  .section-slideshow {
    width: 100%;
    height: 200px;
    margin-left: 0;
    margin-right: 0;
  }

  .heading-31 {
    margin-top: 0;
    font-size: 30px;
  }

  .heading-32 {
    margin-top: 0;
    font-family: Demo Atbscript Rg, Arial, sans-serif;
    line-height: 70px;
  }

  .heading-33 {
    margin-bottom: 0;
    font-family: Demo Atbscript Rg, Arial, sans-serif;
    font-size: 30px;
  }

  .ak-wedding-logo {
    max-width: 115%;
  }
}


@font-face {
  font-family: 'Pmj 1';
  src: url('../fonts/SdGeorgiaLight-pMj1.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Vpnx';
  src: url('../fonts/SdGeorgiaLightDemoItalic-VPnx.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Demo Atbscript Rg';
  src: url('../fonts/DEMO-atbscript-rg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Demo Atbserif Rg';
  src: url('../fonts/DEMO-atbserif-rg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Demo Atbserif It';
  src: url('../fonts/DEMO-atbserif-it.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}